<div class="col-sm-12 col-md-4 p-3 text-center">
    <div class="game-name">
        <a href="@url">  @Game.Name</a>

    </div>

    <hr class="hrfix" />

    <div class="card-image">
        <a href="@url">
            <img src="@Game.Image" alt="@Game.Name" class="game-image" />
        </a>
    </div>
    <hr class="hrfix" />

    <div class="game-card-footer">
        <div class="btn-group my-3 text-center" role="group">
            <a href="#" class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square"></i></a>
            <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public GameModel Game { get; set; }

    private string url = string.Empty;

    protected override void OnInitialized()
    {
        url = $"games/{Game.Id}/{Game.Name.Replace(" ","-")}";
    }

}
